---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";
import WorkGrid from "../components/WorkGrid.astro";
import WorkCard from "../components/WorkCard.astro";
import Button from "../components/Button.astro";
import VeroLogo from "../images/vero.svg";
import settingsImage from "../images/settings@2x.png";
import abTestingImage from "../images/ab-testing@2x.png";
import publicFacingSitesImage from "../images/public-facing-sites@2x.png";
import htmlBlockImage from "../images/html-block@2x.png";
import smsImage from "../images/sms@2x.png";
import triggersImage from "../images/triggers@2x.png";
import helpCenterImage from "../images/help-center@2x.png";
import vero2SidebarImage from "../images/vero-2-sidebar@2x.png";
import vero1SidebarImage from "../images/vero-1-sidebar@2x.png";
import vero2ProfileImage from "../images/vero-2-profile@2x.png";
import templateIconsImage from "../images/template-icons@2x.png";
import vero2CalloutsImage from "../images/vero-2-callouts@2x.png";
import contentBreakdownImage from "../images/content-breakdown@2x.png";

import bluboltStoresImage from "../images/blubolt-stores@2x.png";
---

<Layout title="Ka-Chun Chau — UI Designer">
  <Masthead>
    <h1
      class="font-bricolage text-5xl font-light -tracking-[0.025em] text-balance md:text-7xl xl:text-8xl xl:tracking-[-0.04em] dark:text-white"
    >
      <span class="font-medium">Hey</span>, I'm KC, a <span class="font-medium"
        >UI Designer</span
      > &amp;
      <span class="font-medium">Developer</span>
    </h1>

    <p
      class="mt-6 max-w-3xl text-xl tracking-[-0.01em] text-slate-400 md:mt-8 md:text-2xl/normal dark:text-cyan-50"
    >
      I'm from Armagh, Northern Ireland, now based in Melbourne, Australia. For
      the past 7 years I've worked at
      <a
        class="group relative inline-block pl-12"
        href="https://www.getvero.com/"
      >
        <VeroLogo
          class="absolute -top-0.5 left-1.5 -rotate-4 rounded-lg bg-slate-100 p-1 transition-transform duration-300 ease-in-out group-hover:rotate-3 dark:bg-white"
          width={36}
          height={36}
        /> Vero <span
          class="font-normal text-slate-300 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
          >↗</span
        >
      </a> as a Product Designer &amp; Digital Designer.
    </p>

    <Button
      class="mt-7 md:mt-11"
      href="mailto:kachun@kachunchau.com"
      variant="solid"
    >
      👋 Get in touch
    </Button>
  </Masthead>

  <div
    class:list={[
      "relative z-10 mb-100 border-t border-transparent text-cyan-50 dark:border-white/10",
    ]}
  >
    <main class="mx-auto max-w-7xl px-10 py-20 md:px-20 md:py-32 xl:px-0">
      <!-- <div class="mb-5 flex items-center justify-between gap-3 md:mb-10">
        <div class="text-xl font-medium md:text-3xl">Vero</div>

        <div class="rounded-full px-4 py-2 inset-ring-2 inset-ring-white/10">
          2018 - Present
        </div>
      </div> -->

      <div class="space-y-16 md:space-y-26">
        <CaseStudyCard
          title="Settings"
          description="Full redesign of the settings section for Vero 2.0"
          src={settingsImage}
          alt="Full redesign of the settings section for Vero 2.0"
          href="/work/settings"
          aligment="right"
        />

        <CaseStudyCard
          className="col-span-1 md:col-span-2"
          title="AB Testing"
          description="Redesigning A/B Testing for newsletter-style campaigns"
          src={abTestingImage}
          alt="Redesigning A/B Testing for newsletter-style campaigns"
          href="/work/ab-testing"
          aligment="left"
        />

        <CaseStudyCard
          title="Public-facing sites"
          description="Varaious iterations on Vero's public-facing sites"
          src={publicFacingSitesImage}
          alt="Iterations of Vero's public-facing sites."
        />

        <h2
          class="mt-20 mb-4 font-medium text-slate-400 md:mt-32 md:mb-6 md:text-xl"
        >
          Small things
        </h2>

        <WorkGrid>
          <WorkCard
            className="col-span-full md:col-span-2"
            title="HTML Block"
            src={htmlBlockImage}
            alt="Mastodon logo"
          />
          <WorkCard
            className="col-span-full md:col-span-1"
            title="SMS Channel"
            src={smsImage}
            alt="SMS Channel"
          />
          <WorkCard
            className="col-span-full md:col-span-1"
            title="Triggers"
            src={triggersImage}
            alt="Triggers"
          />
          <WorkCard
            className="col-span-full md:col-span-2"
            title="Help Center"
            src={helpCenterImage}
            alt="Help Center redesign"
          />

          <div
            class="col-span-full space-y-8 md:columns-2 md:gap-10 md:space-y-10 lg:columns-3"
          >
            <WorkCard
              className="inline-block"
              title="Profile dropdown"
              src={vero2ProfileImage}
              alt="Account & profile dropdown"
            />
            <WorkCard
              className="inline-block"
              title="Upgrade callouts"
              src={vero2CalloutsImage}
              alt="Ugrade callouts"
            />
            <WorkCard
              className="inline-block"
              title="Vero 2.0 sidebar"
              src={vero2SidebarImage}
              alt="Vero 2.0 sidebar redesign"
            />
            <WorkCard
              className="inline-block"
              title="Template icons"
              src={templateIconsImage}
              alt="Template icons"
              imgColor="bg-sky-50"
            />
            <WorkCard
              className="inline-block"
              title="Vero 1.0 sidebar"
              src={vero1SidebarImage}
              alt="Vero 1.0 sidebar redesign"
            />
            <WorkCard
              className="inline-block"
              title="Content breakdown table"
              src={contentBreakdownImage}
              alt="Content breakdown table"
            />
          </div>
        </WorkGrid>

        <WorkCard
          company="blubolt"
          title="Various eCommerce store redesigns"
          src={bluboltStoresImage}
          alt="Mastodon logo"
          variant="simple"
          imgColor="bg-purple-50"
        />
      </div>
    </main>
  </div>
</Layout>
