---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";
import WorkGrid from "../components/WorkGrid.astro";
import WorkCard from "../components/WorkCard.astro";
import Button from "../components/Button.astro";
import VeroLogo from "@images/vero.svg";
import htmlBlockImage from "@images/html-block@2x.png";
import smsImage from "@images/sms@2x.png";
import triggersImage from "@images/triggers@2x.png";
import helpCenterImage from "@images/help-center@2x.png";
import vero2SidebarImage from "@images/vero-2-sidebar@2x.png";
import vero1SidebarImage from "@images/vero-1-sidebar@2x.png";
import templateIconsImage from "@images/template-icons@2x.png";
import vero2CalloutsImage from "@images/vero-2-callouts@2x.png";

const caseStudies = await getCollection("work");
const sortedCaseStudies = caseStudies.sort(
  (a, b) => (a.data.order || 0) - (b.data.order || 0)
);
---

<Layout title="KC | UI Design & Code">
  <Masthead>
    <h1
      class="font-bricolage text-5xl font-light -tracking-[0.025em] text-balance md:text-7xl md:tracking-[-0.03em] xl:text-8xl xl:tracking-[-0.04em] dark:text-white"
    >
      Hey there&mdash;I'm KC, a <span class="font-medium whitespace-nowrap"
        >UI Designer</span
      > &amp;
      <span class="font-medium">Developer</span>
    </h1>

    <p
      class="mt-6 max-w-[800px] text-xl tracking-[-0.01em] text-pretty text-slate-400 md:mt-8 md:text-2xl/normal dark:text-cyan-50"
    >
      I'm from Northern Ireland now based in Melbourne, Australia. For the past
      6.5 years I've worked at
      <a
        class="group relative inline-block md:pl-12"
        href="https://www.getvero.com/"
      >
        <VeroLogo
          class="absolute left-1.5 hidden -rotate-4 rounded-lg bg-slate-50 p-1 inset-ring inset-ring-slate-200 md:inline-block dark:bg-white dark:inset-ring-transparent"
          width={36}
          height={36}
        /> Vero <span class="font-light text-slate-200 dark:text-slate-500"
          >↗</span
        >
      </a> as a Product &amp; Digital Designer.
    </p>

    <Button class="group mt-7 md:mt-10" href="mailto:kachun@kachunchau.com">
      Get in touch
    </Button>

    <div
      class="mt-5 flex flex-initial items-center gap-2.5 text-base text-emerald-400"
    >
      <div class="flex flex-none items-center justify-center">
        <span class="size-2 rounded-full bg-emerald-400"></span>
      </div>

      <span class="truncate">Currently open to new opportunities</span>
    </div>
  </Masthead>

  <main
    class="mx-auto max-w-7xl px-8 pb-20 md:px-20 md:pb-32 xl:px-0 xl:pb-48 dark:border-white/10"
  >
    <div class="space-y-20 md:space-y-32">
      <div class="space-y-8 md:space-y-10">
        {
          sortedCaseStudies.map((caseStudy) => (
            <CaseStudyCard
              company={caseStudy.data.company}
              title={caseStudy.data.title}
              description={caseStudy.data.description}
              imgSrc={caseStudy.data.cover}
              alt={caseStudy.data.title}
              href={`/work/${caseStudy.data.slug}`}
              gradient={
                caseStudy.data.gradient as "primary" | "secondary" | "tertiary"
              }
              aligment={caseStudy.data.alignment as "right" | "left"}
            />
          ))
        }
      </div>

      <h2
        class="font-bricolage mb-6 text-3xl font-semibold -tracking-[0.025em] md:mb-10 md:text-4xl"
      >
        Small things
      </h2>

      <WorkGrid>
        <WorkCard
          className="col-span-full md:col-span-2"
          title="HTML Block"
          src={htmlBlockImage}
          alt="HTML Block"
        />
        <WorkCard
          className="col-span-full md:col-span-1"
          title="SMS Channel"
          src={smsImage}
          alt="SMS Channel"
        />
        <WorkCard
          className="col-span-full md:col-span-1"
          title="Triggers"
          src={triggersImage}
          alt="Triggers"
        />
        <WorkCard
          className="col-span-full md:col-span-2"
          title="Help Center"
          src={helpCenterImage}
          alt="Help Center redesign"
        />
        <WorkCard
          className="self-start drop-shadow-none dark:drop-shadow-none"
          title="Vero 2.0 sidebar"
          src={vero2SidebarImage}
          alt="Vero 2.0 sidebar redesign"
          imgColor="bg-white"
          imgShadow={false}
        />
        <div
          class="col-span-full flex flex-col gap-8 self-start md:col-span-1 md:gap-10"
        >
          <WorkCard
            title="Template icons"
            src={templateIconsImage}
            alt="Template icons"
          />
          <WorkCard
            title="Upgrade callouts"
            src={vero2CalloutsImage}
            alt="Upgrade callouts"
            imgShadow={false}
          />
        </div>
        <WorkCard
          className="self-start drop-shadow-none dark:drop-shadow-none"
          title="Vero 1.0 sidebar"
          src={vero1SidebarImage}
          alt="Vero 1.0 sidebar redesign"
          imgShadow={false}
        />
      </WorkGrid>
    </div>
  </main>
</Layout>
