---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import VeroLogo from "../images/vero.svg";
import BluboltLogo from "../images/blubolt.svg";
import SkySportsLogo from "../images/sky-sports.svg";
import FrankLogo from "../images/frank.svg";
import riotLogo from "../images/riot@2x.png";

const experiences = [
  {
    title: "Digital Designer → Product Designer",
    company: "Vero",
    href: "https://getvero.com",
    date: "Sep 2018 - May 2025",
    logo: VeroLogo,
  },
  {
    title: "UX/UI Designer",
    company: "blubolt",
    href: "https://blubolt.com",
    date: "Jul 2014 - Oct 2017",
    logo: BluboltLogo,
  },
  {
    title: "Digital Designer",
    company: "Sky Sports",
    href: "https://www.skysports.com",
    date: "2014",
    logo: SkySportsLogo,
  },
  {
    title: "UX/UI Designer & Front-end Developer",
    company: "Riot HQ",
    href: "https://riothq.com",
    date: "Mar 2012 - Feb 2014",
  },
  {
    title: "Front-end Developer",
    company: "Frank",
    href: "https://bigmotive.com",
    date: "Jul 2011 - Feb 2012",
    logo: FrankLogo,
  },
];
---

<Layout title="Resume">
  <Masthead>
    <h1
      class="font-bricolage text-5xl font-light -tracking-wide text-balance md:text-6xl md:tracking-[-0.03em] xl:text-7xl"
    >
      Resume
    </h1>
    <a
      class="mt-2 inline-block text-xl text-slate-400 md:mt-4"
      href="/KC-Resume.pdf"
      >Download full resume <span class="font-light text-slate-300">↓</span></a
    >
  </Masthead>

  <main
    class="mx-auto max-w-6xl gap-8 px-8 pb-20 md:gap-10 md:px-20 md:pb-32 xl:px-0 xl:pb-48"
  >
    <div class="max-w-5xl space-y-20 md:space-y-32">
      <section>
        <h2
          class="font-bricolage mb-1 text-2xl font-semibold -tracking-wide md:text-3xl"
        >
          Experience
        </h2>

        <ul class="divide-y divide-slate-100 dark:divide-white/10">
          {
            experiences.map((experience) => (
              <li class="flex flex-col items-stretch gap-2 py-8 md:justify-between md:gap-3">
                {experience.company === "Riot HQ" ? (
                  <Image
                    class="flex-none"
                    src={riotLogo}
                    alt={experience.company}
                    densities={[1, 2]}
                    width={48}
                    height={48}
                  />
                ) : experience.logo ? (
                  <experience.logo
                    class:list={[
                      "flex-none",
                      experience.company === "Frank" ? "dark:fill-white" : "",
                    ]}
                    width={48}
                    height={48}
                  />
                ) : null}
                <div class="flex flex-col items-stretch gap-0.5">
                  <div class="flex items-center gap-3 overflow-hidden">
                    <span class="col-span-1 flex items-center gap-2 text-xl font-semibold md:text-2xl">
                      {experience.company}
                    </span>
                    <span class="size-1.5 rounded-full bg-slate-300" />
                    <span class="col-span-2 truncate text-xl font-semibold md:text-2xl">
                      {experience.title}
                    </span>
                  </div>

                  <div class="truncate text-xl text-slate-400">
                    {experience.date}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2
          class="font-bricolage mb-1 text-2xl font-semibold -tracking-wide md:text-3xl"
        >
          Education
        </h2>

        <ul class="divide-y divide-white/10">
          <li class="flex items-start gap-6 py-8">
            <div class="flex flex-1 flex-col items-stretch gap-0.5">
              <h2 class="flex items-center gap-3 text-xl md:text-2xl">
                <span class="col-span-1 font-semibold"
                  >University of Ulster
                </span>
                <span class="size-1.5 rounded-full bg-slate-300"></span>

                <span class="col-span-2 font-semibold"
                  >BSc (Hons) Interactive Multimedia Design</span
                >
              </h2>

              <div class="truncate text-xl text-slate-400">2007 - 2011</div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
</Layout>
