---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import VeroLogo from "../images/vero.svg";
import BluboltLogo from "../images/blubolt.svg";
import SkySportsLogo from "../images/sky-sports.svg";
import FrankLogo from "../images/frank.svg";
import riotLogo from "../images/riot@2x.png";

const experiences = [
  {
    title: "Designer - Product and Marketing",
    company: "Vero",
    date: "2018 - Present",
    logo: VeroLogo,
  },
  {
    title: "Designer",
    company: "blubolt",
    date: "2014 - 2017",
    logo: BluboltLogo,
  },
  {
    title: "Digital Designer",
    company: "Sky Sports",
    date: "2014",
    logo: SkySportsLogo,
  },
  {
    title: "Designer and Front-end Developer",
    company: "Riot HQ",
    date: "2012 - 2014",
  },
  {
    title: "Front-end Developer",
    company: "Frank",
    date: "2011 - 2012",
    logo: FrankLogo,
  },
];
---

<Layout title="Ka-Chun Chau — UI Designer">
  <Masthead>
    <h1 class="text-4xl font-light tracking-[-0.025em] text-pretty md:text-5xl">
      Resume
    </h1>
  </Masthead>

  <div class="bg-white dark:bg-transparent">
    <main
      class="mx-auto max-w-[1200px] space-y-30 px-10 pb-32 md:px-20 xl:px-0"
    >
      <section>
        <h2
          class="mb-8 text-lg font-medium tracking-wider text-slate-400 uppercase"
        >
          Experience
        </h2>

        <ul class="-mt-8 divide-y divide-slate-100 dark:divide-white/10">
          {
            experiences.map((experience) => (
              <li class="flex items-center gap-6 py-8">
                {experience.company === "Riot HQ" ? (
                  <Image
                    class="flex-none"
                    src={riotLogo}
                    alt={experience.company}
                    width={40}
                    height={40}
                  />
                ) : experience.logo ? (
                  <experience.logo class="flex-none" width={40} height={40} />
                ) : null}
                <div class="flex flex-1 flex-col items-start justify-between gap-2 md:flex-row md:items-center">
                  <h2 class="text-2xl">
                    <span class="font-medium">{experience.company}</span>{" "}
                    <span class="font-light">/</span>
                    <span class="font-medium">{experience.title}</span>
                  </h2>

                  <div class="rounded-full px-4 py-1 whitespace-nowrap text-slate-400 inset-ring-2 inset-ring-slate-200 dark:text-cyan-50 dark:inset-ring-white/10">
                    {experience.date}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2
          class="mb-8 text-lg font-medium tracking-wider text-slate-400 uppercase"
        >
          Education
        </h2>

        <ul class="-mt-8 divide-y divide-white/10">
          <li class="flex items-start gap-6 py-8">
            <div
              class="flex flex-1 flex-col items-start gap-2 md:flex-row md:items-center md:justify-between"
            >
              <h2 class="text-2xl">
                <span class="font-medium">University of Ulster </span> /{" "}
                <span class="font-medium"
                  >BSc (Hons) Interactive Multimedia Design</span
                >
              </h2>

              <div
                class="rounded-full px-4 py-1 whitespace-nowrap text-slate-400 inset-ring-2 inset-ring-slate-200 dark:text-cyan-50 dark:inset-ring-white/10"
              >
                2007 - 2011
              </div>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </div>
</Layout>
