---
import { Image } from "astro:assets";
import spotifyLogo from "../assets/spotify.svg";
import githubLogo from "../assets/github.svg";
import mastodonLogo from "../assets/mastodon.svg";

export interface Props {
  social: {
    title: string;
    handle?: string;
    href: string;
  };
}

const { social } = Astro.props;

// Map social titles to their corresponding logos
const logos = {
  Spotify: spotifyLogo,
  GitHub: githubLogo,
  Mastodon: mastodonLogo,
};
---

<li>
  <a
    class="group flex transform-gpu items-center space-x-5 rounded-3xl p-5 ring ring-inset ring-white/5 transition duration-300 ease-in-out focus-within:ring-orange-500 hover:bg-white/5 sm:-mx-5 sm:ring-0 sm:hover:scale-105"
    href={social.href}
    {...social.title === "Mastodon" ? { rel: "me" } : {}}
  >
    <div class="flex-none">
      {
        social.title === "Email" ? (
          <div class="flex size-14 items-center justify-center text-5xl">
            📨
          </div>
        ) : logos[social.title] ? (
          <Image
            src={logos[social.title]}
            alt={`${social.title} logo`}
            class="size-14"
          />
        ) : (
          <div class="flex size-14 items-center justify-center text-5xl" />
        )
      }
    </div>

    <div class="overflow-hidden">
      <h2
        class="text-xl font-extrabold text-gray-50 group-hover:text-orange-500"
      >
        {social.title}
      </h2>
      {social.handle && <p class="truncate text-xl">{social.handle}</p>}
    </div>
  </a>
</li>
